<div class="list-view" ng-class="::'ng-admin-entity-' + listController.entity.name()" layout="row">
	<ma-datagrid
		name="{{ ::listController.view.name() }}"
		flex
		entries="listController.dataStore.getEntries(listController.entity.uniqueId)"
		selection="selection"
		fields="::listController.fields"
		list-actions="::listController.listActions"
		entity="::listController.entity">
	</ma-datagrid>
</div>

<div layout="row" ng-if="::!listController.infinitePagination">
	<ma-datagrid-pagination
		flex
		page="{{ listController.page }}"
		per-page="{{ ::listController.view.perPage() }}"
		total-items="{{ listController.totalItems }}"
		set-page="::listController.setPageCallback">
	</ma-datagrid-pagination>
</div>

<ma-datagrid-infinite-pagination
	ng-if="::listController.infinitePagination"
	per-page="{{ ::listController.view.perPage() }}"
	total-items="{{ ::listController.totalItems }}"
	next-page="::listController.nextPageCallback">
</ma-datagrid-infinite-pagination>
