<section layout="column">
	<md-toolbar style="text-align:center">
		<div class="md-toolbar-tools">
			<div flex>
				<h1 compile="::deleteController.title">
					Delete {{ ::deleteController.view.entity.name() | humanize:true | singularize }}  #{{ ::entry.identifierValue }}
				</h1>
				<p class="lead" ng-if="::deleteController.description" compile="::deleteController.description">{{ ::deleteController.description }}</p>
			</div>
			<ma-view-actions override="::deleteController.actions" entry="::entry" entity="::deleteController.entity">
				<ma-list-button ng-if="::entity.listView().enabled" entity="::entity"></ma-list-button>
			</ma-view-actions>
		</div>
	</md-toolbar>
	<span flex></span>
	<div class="md-whiteframe-z2" id="delete-view" style="text-align: center;margin-top:10em; margin-right:5em; margin-left:5em;">
		<h3>Etes vous sur ?</h3>
		<br/><br/>
		<div layout="row">
			<md-button flex class="md-raised md-warn" ng-click="deleteController.deleteOne()">Oui</md-button>
			<md-button flex class="md-raised" ng-click="deleteController.back()">Non</md-button>
		</div>
	</div>
	<span flex></span>
</section>
