<md-toolbar >
	<div class="md-toolbar-tools" layout="row" layout-align="center center" ng-if="dashboardController.hasEntities">
		<h1>Dashboard</h1>
	</div>
	<div class="dashboard-invite md-toolbar-tools" layout="row" layout-align="center center" ng-if="!dashboardController.hasEntities">
		<p>All dependencies are set, ng-admin is ready to run!</p>
		<p>Now you can <a href="https://github.com/marmelab/ng-admin/blob/master/README.md#configuring-ng-admin">update the configuration</a>: add entities to the admin, then refresh.</p>
	</div>
</md-toolbar>
<md-content layout="column" class="dashboard-content md-whiteframe-z2">
	<section class="" layout="row">
		<ma-dashboard-panel flex collection="dashboardController.collections.contact" entries="dashboardController.entries.contact"></ma-dashboard-panel>
	</section>

	<section layout="column" layout-gt-md="row">
		<ma-dashboard-panel flex  collection="dashboardController.collections.formation" entries="dashboardController.entries.formation"></ma-dashboard-panel>

		<ma-dashboard-panel flex  collection="dashboardController.collections.comments" entries="dashboardController.entries.project"></ma-dashboard-panel>
	</section>
</md-content>
