<div flex layout="column">
	<div layout="row" flex>
		<md-sidenav style="background-color: #f8f8f8;"" layout-fill class="md-sidenav-left md-whiteframe-z2" md-component-id="dashboard" md-is-locked-open="$mdMedia('gt-md')">
			<!--<md-content>-->
			<h2 style="text-align:center;cursor:pointer;" ui-sref="dashboard">Dashboard Menu</h2>
			<ma-menu-bar menu="::appController.menu"></ma-menu-bar>
			<!--</md-content>-->
		</md-sidenav>
		<!--<div id="page-wrapper">-->
		<md-content ui-view flex></md-content>
		<!--</div>-->
		<div id="loader"></div>
	</div>
</div>
