<nav class="dashboard-nav">
	<ul>
		<li class="entities-repeat" ng-repeat="(key, menu) in ::menu.children()" data-menu-id="{{ ::menu.uuid }}" compile="menu.template()">
			<a ng-click="menu.hasChild() ? toggleMenu(menu) : gotoLink(menu)" ng-class="::{'active': menu.isActive(path)}">
				<md-button class="md-primary" style="width:230px;text-align: left;">
					<span compile="::menu.icon()"><span class="ion-navicon"></span></span>
					{{ menu.title() }}
					<span ng-if="::menu.hasChild()" class="toggle" ng-class="::{'ion-arrow-down-b': isOpen(menu), 'ion-arrow-right-b': !isOpen(menu) }"></span>
				</md-button>

			</a>
			<ul ng-if="::menu.hasChild()" class="collapsible" ng-class="::{'collapsed': !isOpen(menu) }">
				<li ng-repeat="menu in ::menu.children()" data-menu-id="{{ ::menu.uuid }}" compile="menu.template()">
					<a ng-click="gotoLink(menu)" ng-class="::{'active': menu.isActive(path)}">
						<md-button class="md-primary" style="width:150px;text-align: left;">
							<span compile="::menu.icon()"><span class="ion-navicon"></span></span>
							{{ menu.title() }}
						</md-button>
					</a>
				</li>
			</ul>
		</li>
		<li class="entities-repeat">
			<md-button class="md-primary" style="width:230px;text-align: left;" ui-sref="site">
				<i class="ion-code"></i>
				Customize pages
			</md-button>
		</li>
	</ul>
</nav>
