<md-toolbar>
	<div class="md-toolbar-tools" layout="row" layout-align="center center">
		<h1>Dashboard</h1>
	</div>
</md-toolbar>
<section class="md-whiteframe-z2" layout="row">
	<ma-dashboard-panel flex collection="dashboardController.collections.contact" entries="dashboardController.entries.contact"></ma-dashboard-panel>
</section>

<section layout="column" layout-gt-md="row">
	<div flex class="md-whiteframe-z2">
		<ma-dashboard-panel  collection="dashboardController.collections.formation" entries="dashboardController.entries.formation"></ma-dashboard-panel>

	</div>
	<ma-dashboard-panel flex class="md-whiteframe-z2" collection="dashboardController.collections.comments" entries="dashboardController.entries.project"></ma-dashboard-panel>
</section>
<!--<div class="row dashboard-content">-->
	<!--<div class="col-lg-6">-->
		<!--<div class="panel panel-default" ng-repeat="collection in dashboardController.collections | orderElement" ng-if="$even">-->
			<!--<ma-dashboard-panel collection="collection" entries="dashboardController.entries[collection.name()]"></ma-dashboard-panel>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="col-lg-6">-->
		<!--<div class="panel panel-default" ng-repeat="collection in dashboardController.collections | orderElement" ng-if="$odd">-->
			<!--<ma-dashboard-panel collection="collection" entries="dashboardController.entries[collection.name()]"></ma-dashboard-panel>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->
