.sidebar{
  width:304px !important;
  margin-top:0 !important;
}

#create-view, #edit-view{
  width:100%;
}

.md-select-label{
  width:100%;
}

.barred-text{
  text-decoration: line-through;
}

@media screen and(min-width: 900px){
  #create-view, #edit-view{
    width:75%;
  }
  .dashboard-content{
    width: 75%;
    margin: auto;
  }
}

.dashboard-nav{
  button{
    margin-top:0;
    margin-bottom:0;
  }
}
