<section layout="column" layout-align="center center">
	<md-toolbar style="text-align:center">
		<div class="md-toolbar-tools">
			<div flex>
				<h1 compile="::showController.title">
					{{ ::showController.view.entity.name() | humanize:true | singularize }}  #{{ ::entry.identifierValue }} Detail
				</h1>
				<p class="lead" ng-if="::showController.description" compile="::showController.description">{{ ::showController.description }}</p>
			</div>
			<ma-view-actions override="::showController.actions" entry="entry" entity="::showController.entity">
				<ma-list-button ng-if="::entity.listView().enabled" entity="::entity"></ma-list-button>
				<ma-edit-button ng-if="::entity.editionView().enabled" entry="entry" entity="::entity"></ma-edit-button>
				<ma-delete-button ng-if="::entity.deletionView().enabled" entry="entry" entity="::entity"></ma-delete-button>
			</ma-view-actions>
		</div>
	</md-toolbar>
	<span flex></span>
	<div class="table-responsive-vertical md-whiteframe-z2" id="show-view">
		<table class="table">
			<tbody>
			<tr ng-repeat="field in ::showController.fields track by $index">

				<td>{{ field.label() }}</td>

				<td class="show-value" flex ng-class="::'ng-admin-field-' + field.name() + ' ' + (field.getCssClasses(entry))">

					<ma-column field="::field" entry="::entry" entity="::entity" datastore="::showController.dataStore"></ma-column>

				</td>
			</tr>
			</tbody>
		</table>

	</div>
	<span flex></span>
</section>
