<section layout="column" layout-gt-lg="row">
	<section  flex-gt-lg="30" flex-gt-md="40">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<span flex>
				</span>
				<h1>
					Toolbox
				</h1>
			</div>
		</md-toolbar>
		<form ng-submit="ctrl.submitChange()">
			<div layout="'vertical" layout-gt-md="row">
				<div flex="10" layout layout-align="center center">
					<span class="md-body-1">Width</span>
				</div>
				<md-slider flex min="0" max="255" ng-model="ctrl.media.width" aria-label="red" class>
				</md-slider>
				<div flex="20" layout layout-align="center center">
					<input type="number" ng-model="ctrl.media.width" aria-label="width" aria-controls="red-slider">
				</div>
			</div>
			<div  layout="'vertical" layout-gt-md="row">
				<div flex="10" layout layout-align="center center">
					<span class="md-body-1">Height</span>
				</div>
				<md-slider flex min="0" max="255" ng-model="ctrl.media.height" aria-label="height"  class>
				</md-slider>
				<div flex="20" layout layout-align="center center">
					<input type="number" ng-model="ctrl.media.height" aria-label="height" aria-controls="red-slider">
				</div>
			</div>
			<div  layout="'vertical" layout-gt-md="row">
				<md-button flex type="submit" class="md-primary">
					Modifier l'image
				</md-button>
			</div>
		</form>
	</section>

	<md-card>
		<img ng-src="{{ ctrl.media.url }}" class="md-card-image" alt="{{ ctrl.media.name }}"/>
		<md-card-content>
			<h2 class="md-title">{{ ctrl.media.name }}</h2>
		</md-card-content>
	</md-card>
</section>
